<!-- Order Confirmation Page -->
<div class="order-container">
	<div class="order-title">Order Confirmation</div>
	<div class="order-line"></div>
	<div class="order-top">
		<div class="order-address">
			Name:
			<div class="order-name">{{ctrl.latestAddress.first + ' ' + ctrl.latestAddress.last}}</div>
			Address:
			<div class="order-address"> 
				{{ctrl.latestAddress.address + ',' +ctrl.latestAddress.city + ',' + ctrl.latestAddress.province}} 
			</div>
		</div>
		<div class="order-date">Date Ordered: Jun-23-2016</div>
	</div>
	<div class="order-line"></div>

	<div class="order-bottom">
		<div class="order-list">
			<table class="table order-botleft">
				<tr class="order-tr">
					<th>Product Name</th>
					<th>Price (Ea.)</th>
					<th>Quantity</th>
					<th>Order Status</th>
				</tr>

				<tr ng-repeat="x in ctrl.cartContent">
					<td class="order-prodname">Scrabbler Letter "{{x.productObj.Name}}"</td>
					<td class="order-prodprice">${{x.productObj.price}}</td>
					<td class="order-prodqty">{{x.quantity}}</td>
					<td class="order-shipped">Order Shipped.</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Subtotal: </td>
					<td>{{ ctrl.totalprice | currency }}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>					
					<td>Shipping/Handling: </td>
					<td>$ 5.00</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Grand Total: </td>
					<td>{{ ctrl.totalprice + 5 | currency }}</td>
				</tr>
		</div>
		<div class="order-button">
			<button ng-click="ctrl.browseMore()" class="btn">Browse More</button>
		</div>
	</div>
</div>