<!-- <div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div> -->
<section>
<div class="w3-content w3-section" style="max-width:1000px">
  <img class="mySlides" src="assets/img//banner/ambition.jpg" style="width:100%">
  <img class="mySlides" src="assets/img/banner/courage.jpg" style="width:100%">
<!--   <img class="mySlides" src="assets/img/banner/happiness.jpg" style="width:100%"> -->
  <img class="mySlides" src="assets/img/banner/jumble.jpg" style="width:100%">
  <img class="mySlides" src="assets/img/banner/letters.jpg" style="width:100%">
  <img class="mySlides" src="assets/img/banner/quantum.jpg" style="width:100%">
  <img class="mySlides" src="assets/img/banner/simplify.jpg" style="width:100%">
  <img class="mySlides" src="assets/img/banner/justice.jpg" style="width:100%">
  <img class="mySlides" src="assets/img/banner/truth.jpg" style="width:100%">
  <img class="mySlides" src="assets/img/banner/verbiage.jpg" style="width:100%">
</div>
</section>

<hr>



<hr>

<div id="productList" class="productList">
<!--   <h1 class="text-center">Current Inventory</h1> -->
  <form class="form-inline">
    <div class="form-group">
      <label for="search">Search</label>
    </div>

      <div class="input-group">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Search for..."
          ng-model="ctrl.filterInput">
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="ctrl.searchText()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>


<!--       <form ng-submit="submit()" ng-controller="ExampleController">
        Enter text and hit enter:
        <input type="text" ng-model="text" name="text" />
        <input type="submit" id="submit" value="Submit" />
        <pre>list={{list}}</pre>
      </form> -->

    <div class="form-group">
      <label for="sort">Sort</label>
      <select 
        class="form-control" 
        ng-options="x as x.label for x in ctrl.sortOptions" 
        ng-model="ctrl.selectedOption"></select>
    </div>

    <div class="form-group">
      <label for="showing">Showing</label>
      <select 
        class="form-control" 
        ng-options="x as x.label for x in ctrl.showFilters" 
        ng-model="ctrl.selector"></select>
    </div>

  </form>

  <body>
    <div class="row product-row">
      <div 
        class="col-md-3 col-sm-6"
        ng-repeat="product in ctrl.product |filter:{Name:ctrl.filter}| orderBy : ctrl.selectedOption.sortField"
        ng-show="ctrl.selector.showProducts(product)">
          <div class="reveal">
            <div class="list-img"><img src="{{product.Image}}" alt="img"></div>
            <div class="hidden">
              <div class="caption">
                <div class="centered">
                  <h3>Letter {{product.Name}}</h3>
                  <p>{{product.Description}}</p>
                  <p>{{product.price | currency}}</p>
                    <button ng-click="ctrl.clickedCart(product)">ADD TO CART</button>
                </div>
              </div>
            </div></div>
          </div>
      </div>
    </div>

  </body>
</div>

<!--   <body>
    <div class="row">
      <div 
        class="col-md-3 col-sm-6"
        ng-repeat="product in ctrl.product | orderBy : ctrl.selectedOption.sortField"
        ng-show="ctrl.selector.showProducts(product)"
        ng-click="ctrl.popUp()">
        <div class="ih-item square effect13 bottom-to-top"><a href="#">
          <div class="img"><img src="{{product.Image}}" alt="img"></div>
          <div class="info">
            <h3>Letter {{product.name}}</h3>
            <p>{{product.Description}}</p>
            <p>Price: {{product.price | current}}</p>
          </div>
        </div></a>
      </div>
    </div>

  </body> -->

<hr>

<!-- <div id="low-banner" class="container">
      <img id="brand" alt="Brand" src="assets/img/brand.jpeg">
      <p id="featured">Featured Products</p>
</div> -->

<div id="disafeature" class="w3-container">
  <span class="w3-closebtn" onclick="this.parentElement.style.display='none'">X</span>
    <div>
      <h3 id="featured">Featured Products</h3>
      <img id="brand" alt="Brand" src="assets/img/brand.jpeg">
    </div>

<div id="features">

    <div class="roww">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="assets/img/russiantiles.jpg" alt="brandtile">
          <div class="caption">
            <h3>Российская плитка коллекции</h3>
            <p>Целый ряд российских Scrabble плитки!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="roww">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="assets/img/klingon.jpg" alt="brandtile">
          <div class="caption">
            <h3><img src="assets/img/collection-title.png"></h3>
            <p>reH DaneH'a' DaSov scrabble roD</p>
            <img src="assets/img/klingon.png">
          </div>
        </div>
      </div>
    </div>


</div>
</div>

<div id="disafeature2" class="w3-container w3-center">
  <span class="w3-closebtn" onclick="this.parentElement.style.display='none'">X</span>
    <div>
      <img id="brand" alt="Brand" src="assets/img/brand-inverse.png">
    </div>

<div id="features">

    <div class="roww">
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="assets/img/red-tiles.png" alt="brandtile">
        </div>
        <h3>Check back for exciting new products from <img src="assets/img/logo.png">
        </h3>
      </div>
    </div>

</div>
</div>