<div class="left">
	<div class="items">
	<div class=" rows">
		<div class="container">
    <div class="well">
        <div class="page-header">
            <h3>Checkout</h3>
        </div>
 
        <table class="checkout" ng-repeat="x in ctrl.cartContent">
            <tr>
                <td>
                    {{ name.Description }}
                </td>
                <td>
                    {{ name.quantity }}
                </td>
                <td>
                    <span> {{ product.cost }} </span>
                </td>
                <td> {{ name.quantity * name.price | currency }}</td>

           <tr>
                
                <td> <b>Total:</b> </td>
                
                <td> {{ total() | currency }} </td>
            <td>[<a href ng-click="removeItem($index)">remove</a>]</td>
            
            </tr>
        </table>
 
 
    </div>
    <div class="text-left">
        <a type="button" class="btn btn-danger" href="#/cart">Customize <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
 
    </div>
</div>

	</div>
</div>




</div>

<div class="right">

	<form role="form">

		<div class="name1">
	      <label for="usr">First Name:</label>
	      <input type="text" class="form-control">
	    </div>
	   
	    <div class="name2">
	      <label for="usr">Last Name:</label>
	      <input type="text" class="form-control">
	 	</div>

	 	<div class= "info">
		    <div class="form-group">
		      <label for="usr">Address:</label>
		      <input type="text" class="form-control">
			</div>

		    <div class="form-group">
		      <label for="usr">City:</label>
		      <input type="text" class="form-control">
		    </div>

		    <div class="form-group">
		      <label for="usr">Province:</label>
		      <input type="text" class="form-control">
		    </div>
		</div>  

	</form>


	<div class="save">
		<label><input type="checkbox" name="ny"> Save this information for next time</label>
	</div>

	<div class="button">
 		<input type="button" class="btn btn-info" ng-click="ctrl.goback()" value="Back">
 		<input type="button" class="btn btn-info" ng-click="ctrl.pay()" value="pay">
	
</div>
