<div class="review-container margin-top-review-purchase">

<div class="rows">

	<div class= "col-md-6 col-sm-12">

		<h3>Checkout</h3>
		<table class="checkout table" >
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
            <tr ng-repeat="x in ctrl.cartContent">
                <td>
                    Scrabbler Letter "{{x.productObj.Name}}"
                </td>
                <td>
                    Quantity: {{x.quantity}}
                </td>
                <td>
                    Price: ${{x.productObj.price}}
                </td>
                <td> 
                    {{ x.productObj.price * x.quantity | currency }}
                </td>
            </tr>

            <tr>
                <td> <b>Total:</b> </td>
                <td></td>
                <td></td>              
                <td> {{ ctrl.totalprice | currency }} </td>
            
            </tr>
        </table>
	</div>



		<div class= "col-md-6 col-sm-12">


			<h3>Billing Information</h3>

	<form role="form">

		<div class="name1">
	      <label>First Name:</label>
	      <input ng-model="ctrl.firstName" type="text" class="form-control">
	    </div>
	   
	    <div class="name2">
	      <label>Last Name:</label>
	      <input ng-model="ctrl.lastName" type="text" class="form-control">
	 	</div>

	 	<div class= "info">
		    <div class="form-group">
		      <label>Address:</label>
		      <input ng-model="ctrl.address" type="text" class="form-control">
			</div>

		    <div class="form-group">
		      <label>City:</label>
		      <input ng-model="ctrl.city" type="text" class="form-control">
		    </div>

		    <div class="form-group">
		      <label>Province:</label>
		      <input ng-model="ctrl.province" type="text" class="form-control">
		    </div>
		</div>  

	</form>

<!-- 		<label><input type="checkbox" name="ny"> Save this information for next time</label> -->

 		<input type="button" class="btn btn-info" ng-click="ctrl.goback()" value="Back">
 		<input type="button" class="btn btn-info" ng-click="ctrl.pay()" value="pay">
		</div>
	</div>
</div>








<!-- 


<div class="left">
	<div class="items">
	<div class=" rows">
		<div class="container">
    <div class="well">
        <div class="page-header">
            <h3>Checkout</h3>
        </div>
 
        <table class="checkout" ng-repeat="x in ctrl.cartContent">
            <tr>
                <td>
                    Scrabbler Letter "{{x.productObj.Name}}"
                </td>
                <td>
                    Quantity: {{x.quantity}}
                </td>
                <td>
                    Price: ${{x.productObj.price}}
                </td>
                <td> {{ name.quantity * name.price | currency }}</td>

           <tr>
                
                <td> <b>Total:</b> </td>
                
                <td> {{ total() | currency }} </td>
            <td>[<a href ng-click="removeItem($index)">remove</a>]</td>
            
            </tr>
        </table>
 
 
    </div>
    <div class="text-left">
      
 
    </div>
</div>

	</div>
</div>




</div>

<div class="right">

	 <h3>Billing Information</h3>

	<form role="form">

		<div class="name1">
	      <label for="usr">First Name:</label>
	      <input type="text" class="form-control">
	    </div>
	   
	    <div class="name2">
	      <label for="usr">Last Name:</label>
	      <input type="text" class="form-control">
	 	</div>

	 	<div class= "info">
		    <div class="form-group">
		      <label for="usr">Address:</label>
		      <input type="text" class="form-control">
			</div>

		    <div class="form-group">
		      <label for="usr">City:</label>
		      <input type="text" class="form-control">
		    </div>

		    <div class="form-group">
		      <label for="usr">Province:</label>
		      <input type="text" class="form-control">
		    </div>
		</div>  

	</form>


	<div class="save">
		<label><input type="checkbox" name="ny"> Save this information for next time</label>
	</div>

	<div class="button">
 		<input type="button" class="btn btn-info" ng-click="ctrl.goback()" value="Back">
 		<input type="button" class="btn btn-info" ng-click="ctrl.pay()" value="pay">
	
</div>
 -->