<!-- nav bar -->
<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
				<a ng-click="ctrl.gohome()" class="navbar-brand" href="">Scrabblrs</a>
		</div>
		<ul class="nav navbar-nav">
			<li>
				<a ng-click="showCart = !showCart" href="">
					Cart
					<span class="label label-default label-pill pull-xs-right">2
					</span>
				</a>
			</li>
	     	<li class="active" ng-click="ctrl.gotoproducts()"><a href="">All Products</a></li>	 
	      	<li><a ng-click="ctrl.unhide()" href="">Menu</a></li>  
		</ul>
		</div>
</nav>

<!-- Menu side bar -->
<div ng-class="{unhidden: ctrl.showHidden}" class="hidden-panel">
	<div class="hidden-container">
		<div ng-click="ctrl.hide()" class="hidden-close"><a href="">close</a></div>
		<div class="hidden-menu">
			<ul class="list-group">
				<li ng-click="ctrl.gohome()" class="list-group-item"><a href="">Home</a></li>
				<li class="list-group-item"><a href="">About</a></li>
				<li class="list-group-item"><a href="">Contact</a></li>
				<li ng-click="ctrl.login()" class="list-group-item"><a href="">Admin Login</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- cart pop out -->
<div ng-show="showCart" class="cart-container">
	<div class="cart-inner">
		<div class="cart-list">
			<ul class="list-group">
				<li ng-repeat="x in ctrl.cartContent" class="list-group-item">
					<div class="cart-item">Scrabbler Letter "{{x.productObj.Name}}"</div>
					<p>
						<span>Quantity: {{x.quantity}}<span> 
						<span>Price: ${{x.productObj.price}}</span>
					</p>
					<div ng-click="ctrl.deletefromcart(x.productObj)" class="item-delete"></div>
				</li>
			</ul>
		</div>
		<div class="cart-text">
			<div class="cart-price">
				Total: $ {{ctrl.totalprice}}
			</div>
			<div class="cart-button">
				<button ng-click="ctrl.reviewpurchase()">CHECKOUT NOW</button>
			</div>
			<div class="cart-minitext">
				Free Shipping Brainstation-wide
			</div>
		</div>
	</div>
</div>

<!-- shop main body (nested partial) -->
<div ui-view=""></div>


