<!-- right half of the shop main page -->
<div class="right-half">
	<div ng-repeat="x in ctrl.imageUrl" ng-style="{'background-image':'url({{x}})'}" class="right-image">
		<div class="right-image-text"></div>
	</div>

	<div class="right-image right-image-last">
		<div ng-click="ctrl.gotoproducts()" class="right-viewall">
			<h2>View All</h2>
		</div>
	</div>
</div>	

<!-- left half of the shop main page -->
<div class="left-fixed">
	<div class="left-content">
		<div class="left-header">
			<h1 id="left-header">{{ctrl.leftHeader}}</h1>
		</div>
		
		<div class="left-line"></div>
		<div class="left-body">
			<p id="left-body">{{ctrl.leftBody}}</p>
			<div class="left-links"></div>
		</div>

		<div class="left-links">
			<a ng-click="ctrl.gotoproducts()" href="">All goods</a>
			<a ng-click="" href="">Read more</a>
		</div>
		
	</div>
</div>
