/*.body {
	background: red;
}

.main-container{
	height: 100vh;
	width: 100vw;
	background-color: white;
	margin: 0px;
	padding: 0px;
	position: relative;
}


.image {
	position: absolute;
	border-radius: 25px;
	width: 600px;
    height: 1000px;
	background-image: url(http://d.fastcompany.net/multisite_files/codesign/imagecache/1280/TypefaceScrabble_lede.jpg);
	top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}*/


.about-page img {
	height: 100%;

}

.hide-this
{

	overflow:hidden;
}


.about-us-about {
	padding: 50px;
}


/*.bio {
	position: absolute;
	height: 350px;
	width: 900px;
	background-color: #dcc6b5;
	border-radius: 25px;
	top: 800px;
	margin-left: 200px;
}
.aboutUs {
	font-family: 'Montserrat', sans-serif !important;
	position: relative;
	font-size: 40px;
	top: 665px;
	text-align: center;
}
*/

