nav .container-fluid{
    padding-top: 20px;
    padding-left: 5vw;
}
nav .container-fluid a{
    color: black !important;
}
.navbar-nav{
    float: right;
}
.navbar-nav li :hover, .navbar-header :hover{
    background-color: transparent !important;
}

.top {
	margin-top: 60px;
	margin-left:40px;
	margin-right:20px;
}

form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}

.red-box {
	

}

.editproductsspace {

	
	padding: 40px;
	position: relative;
	border: black 4px solid;


}

.leave {
	position: absolute;
	right: 10px;
	top: 20px;

}




