.margin-top-review-purchase {

	margin: 50px;
	margin-top:100px;
}

/*
.left {
	height: 500px;
	width: 47.5vw;
	float: left;

	position: relative;
	margin-top: 85px;
	margin-left: 20px;
}

.well {
	width: 41vw;
	height: 350px;
	top: 20px;
	margin-left: 10px;
	position: absolute;
}

.text-left {
	bottom: 50px;
	position: absolute;
	padding-left: 230px;
}

.right {
	height: 500px;
	width: 47vw;
	float: right;
	position: relative;
	margin-top: 85px;
	margin-right: 20px;
}

.items {
	height: 470px;
	width: 45vw;
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
}

.info {
	bottom: 140px;
	float: left;
	position: absolute;
	padding-left: 30px;
	padding-top: 15px;
	width: 500px;
}
.button {
	bottom: 35px;
	padding-left: 250px;
	position: absolute;
}

.save {
	bottom: 100px;
	padding-left: 50px;
	position: absolute;
}

.name1 {
	float: left;
	padding-left: 30px;
	padding-top: 60px;
	position: absolute;
	width: 160px;
}

.name2 {
	float: left;
	padding-left: 200px;
	padding-top: 60px;
	position: absolute;
	width:400px;

}*/