.order-title{
	padding-top: 120px;
	font-size:25px;
}
.order-line{
	margin: 15px 36vw;
	height:3px;
	width: 357px;
	background-color: black;
}
.order-container{
	height: 1000px;
	width: 100vw;
	background-image: url(../img/bg-1-1.gif);
	background-size: cover;
	background-color: rgb(134,178,171);
	text-align: center;
	overflow: hidden;
}
.order-top{
	height: 15vh;
	padding-top:5px;
	position: relative;
}
.order-middle{
	position: relative;
	height: 8vh;
	padding-top:70px;
}
.order-botleft{
	text-align: right;
	padding-top:0px;
	width: 80vw;
	position: absolute;
	left:10vw;
	top:50vh;
}
.order-tr th{
	text-align: right !important;
}
.review-container{
	position: fixed;
	height: 80vh;
	width: 92vw;
	border: 1px solid;
	padding-top: 4vh;
	margin-top: 2vh;
	border-radius: 15px;
}
.order-button{
	position: absolute;
	right: 130px;
	top: 120px;
	background-color: #CCC;
	border-color: rgba(0,0,0,0.9);
	border-radius: 5px;
}
